body {
    padding: 0 !important;
    margin: 0 !important;
}

h5 {
	font-size: 14px;
	font-family: "Century Gothic", sans-serif;
	color: darkslategray;

}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.text-center {
	text-align: center;
}

.margin-center {
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle
}

div.remindo-input {
    border: 0.5px solid #888888;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
}

div.remindo-input.input-showcase-retracted {
	box-shadow: 0.3px 0.3px 0.3px 0.6px black;
    border: 0.5px solid #888888;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.loading {
    position: fixed;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    margin: auto;
    opacity: 1;
    overflow: visible; 
}

.main-title {
    text-transform: uppercase;
    font-size: 16px;
    color: "#546e7a";
    letter-spacing: 0.6px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.hover-options-reminder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog {
    position: fixed;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    z-index: 5;
    margin: auto;
    opacity: 1;
    overflow: visible; 
}

.control-panel {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    padding: 24px;
}

@keyframes smooth-blur {
    from { filter: blur(0px); }
    to { filter: blur(3px); }
}

.blur {
    animation: smooth-blur 0.5s forwards;
}

@keyframes smooth-fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out {
    animation: smooth-fade-out 1s forwards;
}

@keyframes smooth-options-toggle {
    from { 
        background-color: transparent;
        color: black; 
        opacity: 1; 
    }
    to { 
        background-color: black; 
        color: black;
        opacity: 0.66; 
    }
}

.options-toggle {
    animation: smooth-options-toggle 0.33s forwards;
}
