body {
    padding: 0 !important;
    margin: 0 !important;
}

.loading {
    position: fixed;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    margin: auto;
    opacity: 1;
    overflow: visible; 
}

.main-title {
    text-transform: uppercase;
    font-size: 16px;
    color: "#546e7a";
    letter-spacing: 0.6px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.dialog {
    position: fixed;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    z-index: 5;
    margin: auto;
    opacity: 1;
    overflow: visible; 
}

.horizontal-line {
    width: 33%;
}

.control-panel {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    padding: 24px;
}

@keyframes smooth-blur {
    from { filter: blur(0px); }
    to { filter: blur(3px); }
}

.blur {
    animation: smooth-blur 0.5s forwards;
}

@keyframes smooth-fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out {
    animation: smooth-fade-out 1s forwards;
}